.App {
  display: grid;
  text-align: center;
  align-content: stretch;
}

.collections-container {
  width: 100%;
}

.new-collection-form {
  background-color: #81d4fa;
  border: 5px solid #d32f2f;
  width: 100%;
}

.collections {
  padding: 20px;
  width: 100%;
  float: left;
}

.collection {
  width: 45%;
  float: left;
  background-color: #2979FF;
  padding: 20px;
  border: 5px solid #795548;
}

.edit-collection-form {
  background-color: #2979FF;
  padding: 20px;
  border: 5px solid #795548;
}

.items-container {
  background-color: #E040FB;
  width: 100%;
  border: 5px solid #ffe082;
}

.items {
  background-color: #381f75;
  padding: 5px;
}

.item {
  background-color: #009688;
  padding: 10px;
  border: 2px solid #ef5350;
}

.reviews-container {
  background-color: #ff9800;
  width: 100%;
  border: 5px solid #c2185b;
}

.reviews {
  background-color: #512da8;
  padding: 5px;
}

.review {
  background-color: #fdd835;
  padding: 10px;
  border: 2px solid #388e3c;
}

.App-header {
  background-color: #2979FF;
  height: 80px;
  padding: 20px;
  width: 100%;
  color: #4A148C;
}

.navbar {
  text-align: left;
  font-size: 1.2em;
}

.App-title {
  font-size: 2.0em;
  width: 100%;
}

.App-intro {
  font-size: large;
}
