.App {
  display: grid;
  text-align: center;
}

.collections {
  padding: 20px;
  width: 100%;
  float: left;
}

.collection {
  width: 45%;
  float: left;
  background-color: #2979FF;
  padding: 20px;
  border: 5px solid #795548;
}

.items-container {
  background-color: #E040FB;
  width: 100%;
  padding: 2px;
}

.items {
  background-color: #c4a6f9;
  padding: 5px;
}

.item {
  background-color: #009688;
  padding: 10px;
  border: 2px solid #FFF9C4;
}

.App-header {
  background-color: #2979FF;
  height: 80px;
  padding: 20px;
  color: #4A148C;
}

.navbar {
  text-align: left;
}

.App-title {
  font-size: 2.0em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
